@import "src/shared/styles/mixins.scss";
@import "src/shared/styles/constants.scss";

.title {
  text-align: center;
  font-size: 15px;
  line-height: normal;
  margin-bottom: 30px;
  margin: 0;
  margin-bottom: 29px;

  @include _768 {
    margin-bottom: 28px;
    font-size: 17px;
    text-transform: uppercase;
  }

  @include _1920 {
    margin-bottom: 36px;
  }

  span {
    font-weight: 400;
    display: none;
    text-transform: none;

    @include _768 {
      display: initial;
    }
  }
}
