@import "src/shared/styles/mixins.scss";
@import "src/shared/styles/constants.scss";

.title {
  text-align: center;
  font-size: 14px;
  line-height: normal;
  margin: 0;
  margin-bottom: 29px;

  @include _768 {
    text-transform: uppercase;
  }

  span {
    font-weight: 400;
    display: none;
    text-transform: none;

    @include _768 {
      display: initial;
    }
  }

  @include _2460 {
    font-size: 22px;
    margin-bottom: 47px;
  }
}
