@import "src/shared/styles/mixins.scss";
@import "src/shared/styles/constants.scss";

.mobile {
  @include _1920 {
    display: none;
  }
}
.desktop {
  display: none;
  @include _1920 {
    display: block;
  }
}
