@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.btn {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  color: #fff;

  @include _1900 {
    font-size: 22px;
  }

  &:disabled {
    color: #ababab;
  }
}

.rounded {
  padding: 8px 0;
  border-radius: 27px;
  box-shadow: 1.62px 3.24px 3.24px 0px rgba(0, 0, 0, 0.15);

  @include _390 {
    border-radius: 66.667px;
    box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.15);
  }
}

.light-gray {
  background-color: $light-gray;
  color: $dark-gray;
}

.gray {
  background-color: $gray;
}

.orange {
  background: $active-orange;
}

.blue {
  background: $active-blue;
}

.purple {
  background: #7f65b6;
}
