@import "src/shared/styles/mixins.scss";
@import "src/shared/styles/constants.scss";

.playground {
  @include _1800 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.button {
  padding: 8px 40px;

  @include _2460 {
    font-size: 29px;
  }
}

.icon {
  @include _2460 {
    width: 70px;
    height: 70px;
  }
}
