@import "src/shared/styles/mixins.scss";
@import "src/shared/styles/constants.scss";

.playground {
  @include _1800 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.button {
  padding: 8px 40px;
}
