@import "src/shared/styles/constants.scss";
@import "src/shared/styles/mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 45px;
  padding: 22px 27px 0;

  @include _768 {
    padding: 22px 65px 0;
  }
}
