@import "src/shared/styles/constants.scss";
@import "src/shared/styles/mixins.scss";

.buttonList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 13px;
  margin: 0 auto;
  max-width: 344px;
  margin-bottom: 40px;

  @include _768 {
    max-width: 712px;
    row-gap: 16px;
  }

  @include _1920 {
    display: block;
    margin-bottom: 46px;
  }
}

.btn {
  width: 160px;

  @include _1920 {
    width: 230px;
  }
}

.btnWrapper {
  @include _1920 {
    margin-bottom: 14px;
  }
}

.attackWrapper {
  @include _1920 {
    margin-top: 70px;
    margin-bottom: 13px;
  }
}

.attackBtn {
  @include _1920 {
    background-color: #ca2e2e;
  }
}
