@import "src/shared/styles/constants.scss";
@import "src/shared/styles/mixins.scss";

.buttonList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 13px;
  margin: 0 auto;
  max-width: 344px;
  margin-bottom: 40px;

  @include _768 {
    max-width: 712px;
    row-gap: 16px;
  }

  @include _1800 {
    display: block;
    margin-bottom: 46px;

    @media screen and (max-height: 990px) {
      margin-bottom: 36px;
    }
  }
  @include _2460 {
    margin-bottom: 60px;
  }
}

.btn {
  width: 160px;

  @include _1800 {
    width: 230px;
  }
  @include _2460 {
    width: 300px;
    padding: 10px;
    font-size: 30px;
  }
}

.btnWrapper {
  @include _1800 {
    margin-bottom: 14px;
  }

  @include _2460 {
    margin-bottom: 19px;
  }
}

.attackWrapper {
  @include _1800 {
    margin-top: 70px;
    margin-bottom: 13px;

    @media screen and (max-height: 990px) {
      margin-top: 50px;
    }
  }

  @include _2460 {
    margin-top: 90px;
    margin-bottom: 23px;
  }
}

.attackBtn,
.shieldBtn {
  color: #ababab;

  // @include _1800 {
  //   color: #fff;
  // }
}

.attackBtn {
  // @include _1800 {
  //   background-color: #ca2e2e;
  // }
}

.shieldBtn {
  // @include _1800 {
  //   background-color: #0f6eb2;
  // }
}
