$diamond: #1b83ce;
$standard: #d9d9d9;
$silver: #d3baac;
$gold: #e9981e;

$primary-bg: #323232;
$secondary-bg: #434242;

$gray: #616161;
$light-gray: #d9d9d9;
$dark-gray: #4d4d4d;

$active-orange: #ffa401;
$active-blue: #0f6eb2;

$header_height: 152px;
$layout-row-gap: 36px;
