$diamond: #8eccf8;
$standard: #eeeeee;
$silver: #d3baac;
$gold: #fcc470;

$primary-bg: #323232;
$secondary-bg: #434242;

$gray: #616161;
$light-gray: #d9d9d9;
$dark-gray: #4d4d4d;

$active-orange: #ffa401;
$active-blue: #0f6eb2;
