@import "normalize.css";
@import "../shared/styles/constants.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $primary-bg;
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  color: #fff;
  line-height: normal;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  user-select: none;
  font-family: inherit;

  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  -webkit-appearance: none;

  &:hover {
    cursor: pointer;
  }
}
