@import "src/shared/styles/mixins.scss";
@import "src/shared/styles/constants.scss";

.header {
  @include _1920 {
    display: none !important;
  }
}

$aside_width: 384px;
$middle_width: 1010px;
$content_height: 800px;

.layout {
  position: relative;
  min-width: 100vw;

  @include _1920 {
    height: 100vh;
    display: grid;
    // grid-template-columns: minmax($aside_width, 1fr) minmax($middle_width, 1fr) minmax(
    //     $aside_width,
    //     1fr
    //   );
    grid-template-columns: $aside_width minmax($middle_width, 1fr) $aside_width;
    grid-template-rows: $header_height minmax($content_height, 1fr);
    column-gap: 36px;
    row-gap: $layout-row-gap;

    grid-template-areas:
      ". tabs playground"
      "actions tabs stats";

    padding: 35px 33px;
  }
}

.actionsList {
  margin-bottom: 47px;
}

.actions,
.stats {
  @include _1920 {
    background-color: $secondary-bg;
    border-radius: 40px;

    padding-bottom: 22px;
  }
}

.actions {
  @include _1920 {
    grid-area: actions;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-top: 60px;
  }
}

.tabs {
  grid-area: tabs;
}

.stats {
  grid-area: stats;

  padding-top: 45px;
  padding-bottom: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include _768 {
    padding-top: 53px;

    flex-direction: row;
    align-items: initial;

    // to center stats block in tablets
    width: 765px;
    margin: 0 auto;
  }

  @include _1920 {
    padding: 22px;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
  }
}

.statsWrapper {
  @include _768 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-right: 34px;
  }

  @include _1920 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 36px;
  }
}

.earnStats,
.userStats {
  margin-bottom: 41px;

  @include _768 {
    margin-bottom: 0;
  }
}

.earnStats {
  @include _1920 {
    display: none;
  }
}

.mobileEarnStats {
  display: none;

  @include _1920 {
    display: block;
  }
}

.wallet {
  display: none;

  @include _1920 {
    padding-left: 48px;
    display: flex;
  }
}

.playground {
  display: none;
  grid-area: playground;
}
