@import "../../../../shared/styles/constants.scss";

.rootModal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: unset;
  left: unset;

  border-radius: 32px;
}

.backdropModal {
  background-color: transparent;
}

.modalContent {
  background-color: #232323;

  padding: 30px;
  border-radius: 32px;
}
