@import "../../../../shared/styles/constants.scss";

.rootModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: #232323;

  padding: 30px;
  border-radius: 32px;

  width: 390px;
}
