@import "src/shared/styles/mixins.scss";
@import "src/shared/styles/constants.scss";

.swiper {
  --swiper-pagination-bottom: 0px;
  width: 100%;
  padding-bottom: 40px;

  @include _768 {
    height: 240px;
  }

  @include _1920 {
    height: 298px;
  }
}

.slide {
  display: flex;
  justify-content: center;
  // height: auto;
}

.bullet {
  background-color: #737272;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 13px;

  &_active {
    background-color: $light-gray;
  }
}
