@import "src/shared/styles/mixins.scss";
@import "src/shared/styles/constants.scss";

.swiper {
  --swiper-pagination-bottom: 0px;
  width: 100%;
  padding-bottom: 30px;

  @include _768 {
    height: 228px;
    padding-bottom: 0px;
  }

  @include _1920 {
    height: auto;
    padding-bottom: calc(2.5vh + 3px);
    margin-bottom: calc(2.5vh + 3px);
  }
}

.slide {
  display: flex;
  justify-content: center;
}

.bullet {
  background-color: #737272;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 13px;

  &_active {
    background-color: $light-gray;
  }
}
