@import "src/shared/styles/mixins.scss";
@import "src/shared/styles/constants.scss";

$min-aside_width: 357px;
$max-aside_width: 384px;
$middle_width: 950px;

$aside_width_2k: 496px;
$middle_width_2k: 1300px;

$layout-p: 36px;
$layout-p-2k: 50px;
$header-left-p: 40px;

.layout {
  padding: 0 $layout-p $layout-p;
  overflow: hidden;

  @include _2460 {
    padding: 0 $layout-p_2k $layout-p_2k;
  }
}

.header {
  display: grid;
  grid-template-columns:
    minmax($min-aside_width, $max-aside_width) minmax($middle_width, 1fr)
    minmax($min-aside_width, $max-aside_width);
  column-gap: 36px;
  align-items: center;
  justify-items: center;

  height: $header_height;

  @include _2460 {
    max-width: 2560px;
    margin: 0 auto;

    grid-template-columns: $aside_width_2k minmax($middle_width_2k, 1fr) $aside_width_2k;
    height: $header_height_2k;
    column-gap: 50px;
    justify-items: normal;
  }
}

.content {
  width: calc(100vw - (2 * $layout-p));
  transition: all 0.5s ease-in-out;
  height: calc(100vh - $header_height - $layout-p);

  display: grid;
  grid-template-columns:
    minmax($min-aside_width, $max-aside_width) minmax($middle_width, 1fr)
    minmax($min-aside_width, $max-aside_width);
  grid-template-rows: minmax(0, 1fr);
  column-gap: 36px;

  @include _2460 {
    grid-template-columns: $aside_width_2k minmax($middle_width_2k, 1fr) $aside_width_2k;
    max-width: 2460px;
    margin: 0 auto;
    column-gap: 50px;

    width: calc(100vw - (2 * $layout-p-2k));
    height: calc(100vh - $header_height_2k - $layout-p-2k);
  }

  grid-template-areas: "left middle right";

  &_all {
    grid-template-columns: 0 1fr 0;
    gap: 0;

    .left {
      transform: translate(-110%);
    }

    .left,
    .right {
      visibility: hidden;
      opacity: 0;
    }

    .right {
      transform: translate(110%);
    }
  }
}

.left,
.middle,
.right {
  transition: all 0.5s;
  border-radius: 40px;
  background-color: $secondary-bg;
  overflow: hidden;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
}

.left {
  grid-area: left;
  padding-top: 61px;

  @include _2460 {
    padding-top: 80px;
  }
}

.middle {
  grid-area: middle;

  border-radius: 40px;

  .tabPanel {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.right {
  grid-area: right;

  display: flex;
  justify-content: space-between;
  padding: 22px;
  padding-top: 40px;

  @include _2460 {
    padding-top: 40px;
    padding: 30px;
  }
}

.userStats {
  margin-bottom: 16px;
}

.tabsHeader {
  grid-column: 2;
  margin: 0 auto;
}

.playground {
  gap: 34px;
}

.wallet {
  padding-left: 50px;
}
