@import "../../styles/constants.scss";
@import "../../../shared/styles/constants.scss";
@import "../../../shared/styles//mixins.scss";

.statsHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 19px;
  padding-left: 24px;

  // to prevent text jumping while collapse layout
  white-space: nowrap;

  @include _2460 {
    margin-bottom: 20px;
  }
}

.statsIcon {
  @include _2460 {
    width: 40px;
    height: 40px;
  }
}

.title {
  font-size: 17px;
  font-weight: 700;

  @include _2460 {
    font-size: 22px;
  }
}

.statsList {
  padding-left: 53px;
}

.statsItem {
  // to prevent text jumping while collapse layout
  white-space: nowrap;

  position: relative;
  margin-bottom: 6px;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -17px;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffb800;
  }

  &_standard {
    &:before {
      background-color: $standard;
    }
  }
  &_silver {
    &:before {
      background-color: $silver;
    }
  }
  &_gold {
    &:before {
      background-color: $gold;
    }
  }
  &_diamond {
    &:before {
      background-color: $diamond;
    }
  }
}

.name,
.value {
  font-size: 14px;
  font-style: normal;
  line-height: normal;

  @include _2460 {
    font-size: 22px;
  }
}

.name {
  letter-spacing: 0.43px;
  color: #fff;
  font-weight: 400;
}

.value {
  color: #ffb800;
  font-weight: 700;
}
