@import "src/shared/styles/constants.scss";
@import "src/shared/styles/mixins.scss";

.tabsHeader {
  position: relative;
}

.scroller {
  display: flex;
}

.flexContainer {
  gap: 54px;
  padding-left: 19px;

  @include _768 {
    gap: 52px;
    justify-content: space-between;
  }

  @include _1900 {
    gap: 72px;
    width: 100%;
    padding: 0 28px;
  }
}

.activeTab {
  display: block;

  top: 50%;
  transform: translate(-16px, -50%);
  z-index: -1;

  border-radius: 50px;
  width: 94px !important;
  height: 32px !important;

  @include _768 {
    transform: translate(-18px, -50%);
  }

  @include _1900 {
    width: 120px !important;
    height: 40px !important;
    transform: translate(-22px, -50%);
  }
}

.tabRoot {
  font-family: inherit;
  padding: 0;
  min-height: 0;
  min-width: 0;

  font-size: 17px;
  font-weight: 600;

  color: #f3f3f3;

  @include _1900 {
    font-size: 22px;
  }
}

// Custom tabs bullets
.tabsIndicator {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin: 24px auto 0;

  @include _768 {
    display: none;
  }
}

.bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
