@import "src/shared/styles/mixins.scss";
@import "src/shared/styles/constants.scss";

.downSection {
  padding-top: 45px;
  padding-bottom: 53px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include _768 {
    padding-top: 53px;

    flex-direction: row;
    align-items: initial;

    // to center stats block in tablets
    width: 765px;
    margin: 0 auto;
  }
}

.statsWrapper {
  @include _768 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-right: 34px;
  }
}

.earnStats,
.userStats {
  margin-bottom: 41px;

  @include _768 {
    margin-bottom: 0;
  }
}
